body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

#education {
  background-color: #4D648D;
}

h1 {
  margin: 50px auto 0;
  font-family: 'Sacramento', cursive;
  font-size: 90px;
  color: #D0E1F9;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #4D648D;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #4D648D;
}

p {
  color: #1E1F26;
}

.web-designer {
  font-size: 30px;
  color: #D0E1F9;
  font-weight: normal;
}

.top-container {
  background-color: #4D648D;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: #D0E1F9;
  padding-top: 30px;
  padding-bottom: 30px;
}

.bottom-container {
  background-color: #4D648D;
  padding-top: 30px;
  padding-bottom: 30px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.bold {
  font-weight: normal;
  font-size: 30px;
}

.design-img1 {
  width: 25%;
  height: 150px;
  float: left;
  margin-right: 20px;
}

.design-img2 {
  width: 25%;
  height: 150px;
  float: right;
  margin-left: 20px;
}

.skill-row {
  width: 50%;
  margin: 80px auto 80px auto;
  text-align: left;
  line-height: 2;
}

.footer-link {
  margin: 10px;
}

.end {
  color: #EAF6F6;
  font-size: 12px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11cdd4);
  background-image: -moz-linear-gradient(top, #11cdd4, #11cdd4);
  background-image: -ms-linear-gradient(top, #11cdd4, #11cdd4);
  background-image: -o-linear-gradient(top, #11cdd4, #11cdd4);
  background-image: linear-gradient(to bottom, #11cdd4, #11cdd4);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
